# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GithubDesktop\Knowledge_Graph_Visualization\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
